<!DOCTYPE html>
<html>
<head>
    <title>Paramètres</title>
    <link rel="stylesheet" href="/css/parametres.css">
    <script src="/js/parametres.js"></script>
</head>
<body">
    <button onclick="window.location.href='/dashboard'" class="btn-back">< Retour</button>
    <h2>Paramètres</h2>
    <div class="container">
        <h3>Modifier mon mot de passe</h3>
        <form action="/api/updatePassword" method="post">
            <input type="password" name="currentPassword" placeholder="Mot de passe actuel" required>
            <input type="password" name="password" placeholder="Nouveau mot de passe" required>
            <input type="password" name="passwordConfirm" placeholder="Confirmer le mot de passe" required>
            <button type="submit" id="update-password" class="disabled">Modifier mon mot de passe</button>
        </form>
        <p class="warning">Attention, ce nouveau mot de passe sera également chiffré et ne pourra être récupéré qu'en le modifiant à nouveau.</p>
        <!--<p class="not-available">Cette action n'est pas encore disponible.</p>-->
        <hr>
        <h3>Supprimer mon compte</h3>
        <p>Attention, cette action est irréversible et supprimera toutes vos données.</p>
        <p>Pour supprimer votre compte, saisissez votre mot de passe actuel et cliquez sur le bouton ci-dessous.</p>
        <form action="/api/deleteAccount" method="post">
            <input type="password" name="currentPassword" placeholder="Mot de passe actuel" required>
           <!-- <button type="submit" id="delete-account" class="disabled">Supprimer mon compte</button> -->
        </form>
        <p class="not-available">Cette action n'est pas encore disponible.</p>
    </div>
</body>
</html>